/* -------- MAP ---------- */
#map
{
	width: 100%;
	height: 100%;
	border: 1px solid;
}

.leaflet-routing-container {
	display: none;
}

.waitPosition{
	display: inline-block;
}

/* --------- Loader ----------------- */

.spinner {
    text-align:center;
    z-index: 1234;
    overflow: auto;
	position: fixed;
	top: 0;
    left: 0;
	opacity: 0.5;
	background: #FAFAFA;
    width: 100%; /* width of the spinner gif */
    height: 100%; /*hight of the spinner gif +2px to fix IE8 issue */
}

#img-spinner {
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
	width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

/* --------- Popup Content ---------- */
.cercleLegende {
    border-radius:50%;
    width:10px;
    height:10px;
    border:1px solid black;
	display: inline-block;
}

.opened {
    background: rgb(0,255,0);
}

.closed {
    background: rgb(255,0,0);
}

/* ---------- FILTRE ---------------- */
#filtre
{
	display:none;
	z-index:0;
	width: auto;
	background-color: white;
	height: 47%;
    margin: 0 auto;
    width: 450px;
    padding: 25px;
}

#btnfiltre{
    display: block;
    margin: 6px auto;
}

#conteneurFiltre{
	bottom: 10px;   
	position: absolute;
    width: 100%;
}

.leaflet-control-attribution{
	display: none;
}

@media screen and (max-width: 470px){

	#filtre{
		padding: 5px;
  		width: 100%;
	}
}