/* -------- MAP ---------- */
#map
{
	width: 100%;
	height: 100%;
	border: 1px solid;
}

.leaflet-routing-container {
	display: none;
}

.waitPosition{
	display: inline-block;
}

/* --------- Popup Content ---------- */
.cercleLegende {
    border-radius:50%;
    width:10px;
    height:10px;
    border:1px solid black;
	display: inline-block;
}

.open {
    background: rgb(0,255,0);
}

.close {
    background: rgb(255,0,0);
}

/* ---------- FILTRE ---------------- */
#filtre
{
	display:none;
	z-index:0;
	width: auto;
	background-color: white;
	height: 47%;
    margin: 0 auto;
    width: 450px;
    padding: 25px;
}

#btnfiltre{
    display: block;
    margin: 6px auto;
}

#conteneurFiltre{
	bottom: 10px;   
	position: absolute;
    width: 100%;
}

.leaflet-control-attribution{
	display: none;
}

@media screen and (max-width: 470px){

	#filtre{
		padding: 5px;
  		width: 100%;
	}
}